{erl_opts, [debug_info]}.
{lib_dirs, ["deps"]}.
{deps_dir, "deps"}.
{deps, [
    {active, ".*", {git, "git://github.com/synrc/active",  []}},
    {erlydtl,".*", {git, "git://github.com/voxoz/erlydtl", []}},
    {nitro,  ".*", {git, "git://github.com/synrc/nitro",   []}},
    {n2o,    ".*", {git, "git://github.com/synrc/n2o",     []}},
    {bpe,    ".*", {git, "git://github.com/synrc/bpe",     []}}
]}.
{erlydtl_opts, [
    {doc_root,   "priv/static"},
    {out_dir,    "ebin"},
    {compiler_options, [report, return, debug_info]},
    {source_ext, ".htm"},
    {module_ext, "_view"}
]}.
