[{active, [{compile_on_static,true}]},
 {n2o, [{port,8108},
        {app,adm},
        {upload,"./priv/static/"},
        {search,"/Users/5HT/depot/synrc/synrc.com/apps/*/doc/web/*.htm"},
        {mode,prod},
        {route,routes},
        {mq,n2o_mq},
        {formatter,bert},
        {minify,{"priv/static",
                ["deps/n2o/priv/bullet.js",
                 "deps/n2o/priv/n2o.js",
                 "deps/n2o/priv/protocols/bert.js",
                 "deps/n2o/priv/utf8.js"]}},
        {log_modules,config},
        {log_level,config},
        {log_backend,n2o_log},
        {session,n2o_session},
        {origin,<<"*">>},
        {bridge,n2o_cowboy},
        {pickler,n2o_pickle},
        {erroring,n2o_error},
        {event,pickle}]},
  {kvs, [{dba,store_mnesia},
         {log_modules,log_allow},
         {schema, [ kvs_user, kvs_acl, kvs_feed, kvs_subscription,
                    bpe_metainfo ]} ]} ].
