* {
  box-sizing: border-box;
}

table {
  width: 100%;
  border-collapse: collapse;
}

/*html, body {
  min-height: 10000px;
}*/

body {
  margin: 0;
  background: #F4F4F4;
  color: #585858;
}

.nav {
  background: white;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: Microgramma;
 
}

.nav > a {
  display: inline-block;
  color: #585858;
  text-decoration: none;
  font-size: 20px;
  padding: 20px 20px;
}

.nav > a:visited {
   color: #585858;
}

.nav > a:hover {
  background: #E8E8E8;
  color: #282828;
}

.nav > a:active {
  background: #D8D8D8;
  color: #181818;
}

.app {
  max-width: 1000px;
  margin: auto;
}

.header {
   padding: 20px;
   display: flex;
   flex-direction: column;
}

.header > .title {
  font-size: 50px;
  line-height: 1;
  padding: 0;
  margin: 0;
}

.header > .resources {
  padding-right: 20px;
  font-size: 17px;
}

.header > .info {
  font-size: 14px;
}

.chart {
  overflow-x: hidden;
}

.line {
  fill: none;
  stroke: #3498DB;
  stroke-width: 1.5px;
}

.container {
  padding: 1px;
  margin: 60px 0;
  position: relative;
}

.container > div {
  width: 240px;
  overflow-x: scroll;
  background: white;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
  padding: 10px; 
  border-radius: 4px;
  margin: 10px;
}

.container > div:nth-child(2) {
  width: 100%;
}

  svg {width:500px;}

@media(min-width: 768px) {
  .header {
    justify-content: space-between;
    flex-flow: row wrap;
  }
  .header > .info {
    text-align: right;
  }
  svg {width:800px;}
  

  .container > div:nth-child(2)  {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 270px);
  }
}

.container > div:nth-child(1) h2 {
  color: #AB47BC;
}

.container > div:nth-child(2) h2 {
  color: #7E57C2;
}

.container > div:nth-child(3) h2 {
  color: #26A69A;
}

.container > div:nth-child(4) h2 {
  color: #42A5F5;
}

.container h2 {
  font-size: 24px;
  font-weight: normal;
  line-height: 1.2;
  padding: 0 0 5px 0;
  margin: 0 0 5px 0;
  border-bottom: 1px solid rgba(0, 70, 100, 0.20);
}

.container th {
  text-align: left;
  font-weight: normal;
}

.container tr:hover {
  background: #EEEEEE;
}

.container td + td, .container th + th {
  padding-left: 10px;
}

.container  a {
  color: #3A98C8;
  text-decoration: none;
}

.container  a:visited {
  color: #3A98C8;
}

.container a:hover {
  color: #2D4762;
}

.container a:focus {
  color: #2D4762;
}

@font-face {
    font-family: "Microgramma";
    src: url("http://www.myfontfree.com/data/518/m/microgrammabold/Microgramma Bold.ttf");
}

.title { font-family: Microgramma; }
