* {
  box-sizing: border-box;
}

.line { fill: none; stroke: #3498DB; stroke-width: 1.5px; }

body {
  margin: 0;
  background: #F4F4F4;
  color: #585858;
}

.nav {
  background: white;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
}

.nav > a {
  color: #585858;
  text-decoration: none;
  font-size: 30px;
  padding: 10px 20px;
}

.nav > a:visited {
   color: #585858;
}

.nav > a:hover {
  background: #E8E8E8;
  color: #282828;
}

.nav > a:active {
  background: #D8D8D8;
  color: #181818;
}

.app {
  max-width: 800px;
  margin: auto;
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex: 1 0 auto;
  padding: 20px;
}

.header > .h {
  font-size: 50px;
  line-height: 1;
  padding: 0 20px 20px 0;
  margin: 0;
}

.header > .resources {
  margin: 3px auto 0 0;
  padding-right: 20px;
  font-size: 17px;
}

.header > .info {
  font-size: 14px;
}

.chart {
  overflow-x: hidden;
}

.container {
  margin: 40px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container > .column {
  display: flex;
  /*flex*/
    flex-wrap: wrap;
    justify-content: center;
  box-sizing: border-box;
}

#streams, #binders, #boot, #datawin {
  background: white;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
  padding: 10px 10px; 
  border-radius: 4px;
  margin: 5px;
}


@media(min-width: 600px) {
  .container > .column {
   flex-direction: column;
   flex-grow: 0;
}
  #datawin {
    flex-grow: 1;
  }
}



.container h2 {
  font-size: 24px;
  font-weight: normal;
  line-height: 1;
  padding: 0;
  margin: 0 0 10px 0;
  color: #767DBD;
}

.container th {
  text-align: left;
  font-weight: normal;
}

.container td {
  padding-right: 7px;
}

.container  a {
  color: #3A98C8;
  text-decoration: none;
}

.container  a:visited {
  color: #3A98C8;
}

.container a:hover {
  color: #767DBD;
}

.container a:focus {
  color: #2D4762;
}


table {
  width: 100%;
  border-collapse: collapse;
}